
<div class="d-grid gap-2 d-md-block">
    <a asp-action="Index" class="btn btn-primary" style="margin-right: 20px"><i class="bi bi-arrow-return-left" ></i> Cancelar</a>
    <button type="submit" class="btn btn-success" onfocus="false"><i class="bi bi-plus-square"></i> Crear</button>    
</div>